<section class="max-w-[20rem] shadow-md">
  <img [src]="movie?.image" [alt]="movie?.title" class="w-full h-auto rounded-md cursor-pointer" (click)="onMovieClick()" />
  <div class="flex flex-row justify-between gap-2 p-4">
    <h3 class="text-2xl font-bold">{{ movie?.title }}</h3>
    <p class="font-bold text-sm"> <span class="text-sky-500">{{ movie?.rating }}</span> / 10 </p>
  </div>
  <div class="flex flex-row justify-between gap-2 mt-1 p-4">
    <div class="flex flex-col">
      <span class="text-sm text-gray-500">ESTRENO</span>
      <span class="font-bold">{{ movie?.releaseDate | date:'dd/MM/yyyy' }}</span>
    </div>
    <div class="flex flex-col text-right">
      <span class="text-sm text-gray-500">DURACIÓN</span>
      <span class="font-bold">{{ movie?.duration }} min</span>
    </div>
  </div>
  <div class="flex flex-row justify-between gap-2 mt-1 p-4">
    <button class="w-full p-2 bg-red-500 text-white rounded-md cursor-pointer" (click)="onDeleteMovie()">Eliminar</button>
    <button class="w-full p-2 bg-blue-500 text-white rounded-md cursor-pointer" (click)="onEditMovie()">Editar</button>
  </div>
</section>
